body {
    padding:10px 20px;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

#header {
	margin-bottom: 30px;
}

#header img{
	float:left;
	clear:right;
}

#header p {
	float: left;
	clear:right;
}

#divider {
	width: 100%;
	clear:both;
}