<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>XiaoShuoYueDu</display-name>
 <servlet>
  <servlet-name>Note</servlet-name>
  <servlet-class>cn.com.sae.Note</servlet-class>
  <init-param>
   <param-name>crawler.classes</param-name>
   <param-value>cn.com.sae.crawler.impl.LiXiangWenXue,cn.com.sae.crawler.impl.LuoQiuZhongWen,cn.com.sae.crawler.impl.WuJiuWenXue</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Rank</servlet-name>
  <servlet-class>cn.com.sae.Rank</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Category</servlet-name>
  <servlet-class>cn.com.sae.Category</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Portal</servlet-name>
  <servlet-class>cn.com.sae.Portal</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Batch</servlet-name>
  <servlet-class>cn.com.sae.Batch</servlet-class>
  <init-param>
   <param-name>crawler.classes</param-name>
   <param-value>cn.com.sae.crawler.impl.LiXiangWenXue,cn.com.sae.crawler.impl.LuoQiuZhongWen,cn.com.sae.crawler.impl.WuJiuWenXue</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Admin</servlet-name>
  <servlet-class>cn.com.sae.Admin</servlet-class>
  <init-param>
   <param-name>crawler.classes</param-name>
   <param-value>cn.com.sae.crawler.impl.LiXiangWenXue,cn.com.sae.crawler.impl.LuoQiuZhongWen,cn.com.sae.crawler.impl.WuJiuWenXue</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>Read</servlet-name>
  <servlet-class>cn.com.sae.Read</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Note</servlet-name>
  <url-pattern>/note/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Rank</servlet-name>
  <url-pattern>/rank/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Category</servlet-name>
  <url-pattern>/category/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Batch</servlet-name>
  <url-pattern>/batch/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Admin</servlet-name>
  <url-pattern>/admin/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Read</servlet-name>
  <url-pattern>/view/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Portal</servlet-name>
  <url-pattern>/*</url-pattern>
 </servlet-mapping>
</web-app>
